make_tensor_data/train_tensor/CSD-3k+S546_shift_tensors_components.xyz filter=lfs diff=lfs merge=lfs -text
make_tensor_data/test_tensor/CSD-500+104-7_shift_tensors_components.xyz filter=lfs diff=lfs merge=lfs -text
